<div class="col-md-3">

    <article class="card">
        <img class="card-img-top" src="{{photo}}" alt="{{name}} {{lastName}}">
        <div class="card-body">
            <h5 class="card-title">{{name}} {{lastName}}</h5>
            <p class="card-text">Equipo: {{team}}</p>
        </div>
    </article>

</div>